@model GitHubAPITest.Models.User
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="row form-group">
        <div class="col-12 text-center">
            <div class="title">
                <h2>GitHub API Viewer</h2>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-8 offset-lg-2 col-12">
            <div class="card">
                <div class="card-body border border-warning bg-dark">
                    <div class="row">
                        <div class="col-xl-4 offset-xl-0 col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
                            <img src="@Model.ImageLink" alt="Avatar Image" class="image" height="230" />
                        </div>
                        <div class="col-xl-8 col-lg-6 col-12">
                            <div class="text-center text-warning">
                                <h3>@Model.Name</h3>
                            </div>
                            <dl class="row text-white">
                                <dt class="col-4 text-right">Username: </dt>
                                <dd class="col-8">@Model.UserName</dd>
                                <dt class="col-4 text-right">Email: </dt>
                                <dd class="col-8">@Model.Email</dd>
                                <dt class="col-4 text-right">Followers: </dt>
                                <dd class="col-8">@Model.Followers</dd>
                                <dt class="col-4 text-right">Following: </dt>
                                <dd class="col-8">@Model.Following</dd>
                                <dt class="col-4 text-right">Bio: </dt>
                                <dd class="col-8">@Model.Bio</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (GitHubAPITest.Models.Repository repo in Model.Repositories)
        {
            <div class="col-md-6 col-12 form-group">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <h5><strong>@repo.RepoName</strong></h5>
                    </div>
                    <div class="card-body border border-warning">
                        <div class="row">
                            <div class="col-12">
                                <dl class="row">
                                    <dt class="col-3 text-right">Description: </dt>
                                    <dd class="col-9 no-overflow">@repo.Description</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <dl class="row">
                                    <dt class="col-6 text-right">Size: </dt>
                                    <dd class="col-6">@repo.Size</dd>
                                    <dt class="col-6 text-right">Created At: </dt>
                                    <dd class="col-6">@repo.CreatedAt</dd>
                                    <dt class="col-6 text-right">Last Updated: </dt>
                                    <dd class="col-6">@repo.LastUpdated</dd>
                                </dl>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="text-center">
                                    <img src="@repo.OwnerImage" alt="Avatar Image" class="image" height="115" />
                                </div>
                                <dl class="row">
                                    <dt class="col-5 text-right">Name: </dt>
                                    <dd class="col-7">@repo.OwnerName</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="@repo.RepoLink" target="_blank">@repo.RepoLink</a>
                            </div>
                            <img src="~/Content/Images/right-arrow.svg" height="20" class="commit_arrow" onclick="getCommits('@repo.OwnerName', '@repo.RepoName')" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12 commits text-center table-responsive"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/commits_js.js"></script>
}