@model readygotravel.Models.UserState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserStateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
