@model IEnumerable<readygotravel.Models.Search>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTravelers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndAirport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTravelers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartAirport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndAirport)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SearchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SearchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SearchID })
        </td>
    </tr>
}

</table>
